<ul>
  {{#each data}}
  <li>
    <h2><a href="/celebrities/{{this._id}}">{{this.name}}</h2></a>
    <form action="/celebrities/{{this._id}}/delete" method="post">
      <button type="submit">Delete</button>
    </form>
    <a href="/celebrities/{{this._id}}/edit">edit</a>
  </li>
  {{/each}}
</ul>

<a href="/celebrities/new">Add a new celebrity</a>